body{
    margin:0px;
}
a{
    text-decoration: none;
}
header{
    /* text-align: center; */
    background-color: violet;
    height:65px;
    width:100%;
    border:1px solid grey;
}
.brand{
    color: rgb(43, 48, 50);
    font-size:30px;
    margin-top:-1.4%;
    margin-left: 1%;
    float: left;
}
.social{
    height:30px;
    float: right;
      margin-top:1%;
}
.social a img{
    height:100%;
  
}

#first{
    height: 450px;
    width:100%;
    margin-top: -1%;
    display: inline-block;
    background-image:url('https://i.ibb.co/275v9fP/marguerite-729510-640.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;

}
#a{
    height:80%;
    width:20%;
    background-color: aqua;
    float: left;
    margin: 2%;
    overflow: scroll;
    border: 2px solid teal;

}
#a img{
    height: 55%;
    width:100%;
}
 #a p{
    height: 45%;
    width:96%;
    margin-left:5%;
    font-size:large;
}
/* QUICK SEARCH */
#quicksearch{
     height: 400px;
     width: 100%;
     margin-top: -1.9%;
     background-color: yellow; 

}
.top{
    height: 15%;
   text-align: center;
   line-height:1.8;
    background-color: rgb(43, 226, 202);  
}
.tile{
    height:85%;
    width: 100%;
    /* background-color: turquoise; */
}
#tiles{
    height:75%;
    width: 14%;
    margin-top: 3%;
    margin-left:2%;
    background-color: wheat;
    float: left;
    border: 2px solid black;
    box-shadow:12px 13px 5px rgb(59, 40, 40);
}

#tiles img{
    height: 100%;
    width:100%;
}

#second{
    /* height: 100px; */
    width: 100%;
    background-color: rgb(114, 179, 179);
    display: inline-block;
    /* text-align: center; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#second a{
    color: rgb(55, 87, 3) !important
}
.left{
    float:left;
}
.right{
    float: right;
}
footer{
    height: 60px;
    background-color: chartreuse;
    margin-top: -1.7%;
    line-height: 1.6;
}
footer ul{
  list-style-type:none;
  font-size: larger;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}