body{
    margin: auto;
}
header{
    text-align: center;
    background-color: violet;
    height:55px;
    width:100%;
    border:6px groove grey;
}

#first{
    height: 450px;
    width:100%;
    background-color: yellow;
    display: inline-block;
    background-image:url('https://i.ibb.co/275v9fP/marguerite-729510-640.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;

}
#a{
    height:80%;
    width:20%;
    background-color: aqua;
    float: left;
    margin: 2%;
    overflow: scroll;
    border: 2px solid teal;

}
#a img{
    height: 55%;
    width:100%;
}
 #a p{
    height: 45%;
    width:96%;
    margin-left:5%;
    font-size:large;
}

#second{
    height: 400px;
    width: 100%;
    background-color: rgb(114, 179, 179);
    display: inline-block;
}
