body{
    margin:0px;
}
header{
    /* text-align: center; */
    background-color: violet;
    height:65px;
    width:100%;
    border:1px solid grey;
}
.brand{
    color: rgb(43, 48, 50);
    font-size:30px;
    margin-top:-1.4%;
    margin-left: 1%;
    float: left;
}
.social{
    height:30px;
    float: right;
      margin-top:1%;
}
.social a img{
    height:100%;
  
}

#first{
    height: 455px;
    width:100%;
    margin-top: -1%;
    background-color: yellow;
    display: inline-block;
    background-image:url('https://i.ibb.co/275v9fP/marguerite-729510-640.jpg');
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: 100% 450px;

}
#a{
    height:80%;
    width:20%;
    background-color: aqua;
    float: left;
    margin: 2%;
    overflow: scroll;
    border: 2px solid teal;

}
#a img{
    height: 55%;
    width:100%;
}
 #a p{
    height: 45%;
    width:96%;
    margin-left:5%;
    font-size:large;
}

#second{
    height: 400px;
    width: 100%;
    background-color: rgb(114, 179, 179);
    display: inline-block;
    /* text-align: center; */
}
.left{
    float:left;
}
.right{
    float: right;
}